.title {
	font-size: 50px;
}

.main {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-evenly;
}

.buttons {
	justify-content: space-evenly;
}

.buttons .button {
	margin-top: 5px;
	min-width: 150px;
	max-width: 150px;
}

.container {
	margin: 0;
}

.back-reset {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.panel-block {
	background-color: #ededed;
}

#history-list {
	background-color: white;
	text-align: justify;
}

#history-list li {
	margin-left: 10px;
}
