#text,
.buttons {
	display: flex;
	justify-content: space-around;
}

.buttons {
	margin-top: 5px;
}

.buttons button {
	cursor: pointer;
	min-width: 150px;
	max-width: 150px;
}

.back-reset {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

#history-list {
	justify-content: center;
	background-color: white;
	text-align: justify;
}

#foot {
	background-color: #ededed;
}
